:root {
    --body-bg-top: #429488;
    --body-bg-bottom: #d9dbd5;
    --header-col: #eaeaea;
    --chat-send-col: #dcf8c0;
    --chat-received-col: #ffffff;
    --notifications-col: #9fd8f8;
    --text-icons-col: #b1b1b1;
    --footer-col: #f2eeea;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
    /* debug */
    /* background-color: aquamarine; */
}
/* UTILITIES */

/* COMMON */
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* debug */
    /* background-color: darkgray;
    border: 1px solid red; */
}

.chat-col {
    width: 67%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    background-size: 50%;
    display: flex;
    flex-direction: column;
    /* debug */
    /* background-color: bisque; */
}

.msg {
    border-radius: 10px;
    padding: .5rem;
    margin: 1rem;
    min-width: 50%;
    max-width: 60%;
}

.chat-send {
    background-color: var(--chat-send-col);
    display: flex;
    align-self: flex-end;
}

.chat-receive {
    background-color: var(--chat-received-col);
    display: flex;
    align-self: flex-start;
}

.side-col {
    width: 33%;
    height: 100%;
    /* debug */
    /* background-color: azure; */
}

.header {
    height: 9%;
    background-color: var(--header-col);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    height: 55%;
    margin-right: .9rem;
    color: var(--text-icons-col);
    font-size: .4rem;
    font-weight: 100;    
}


/* SIDEBAR CHATS LIST*/
.side-col {
    display: flex;
    flex-direction: column;
    border-right: 1.5px solid lightgray;
}

.notifications {
    width: 100%;
    height: 11%;
    background-color: var(--notifications-col);
}

.find-chat {
    width: 100%;
    height: 7%;
    /* debug */
    /* border: 1px solid lightgray; */
}

.list-chats {
    width: 100%;
    height: 73%;
    /* debug */
    /* background-color: #dcf8c0; */
}

.list {
    overflow-y: auto;
    height: 100%;
}


/* CHAT'S WINDOW */
.chat-col .chat {
    height: 82%;
}

.chat-col .text-msg {
    height: 9%;
    width: 100%;
    background-color: var(--footer-col);
    display: flex;
}

.chat-container {
    width: 100%;
    padding: 2rem;
    max-height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.icons {
    color: var(--text-icons-col);
    letter-spacing: .3rem;
    padding-right: .6rem;
    font-weight: 600;
}


/* AVATAR PROPERTIES */
.avatar-card {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    width: 100%;
    height: 13%;
    font-size: .5rem;
    border-bottom: 1px solid var(--text-icons-col);
    /* debug */
}

.list-item .name {
    font-size: .6rem;
}

.avatar-img {
    height: 100%;
    padding: .2rem .4rem;
}

.avatar-img img {
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* padding: 1rem 2rem; */
}

.avatar-text {
    line-height: .8rem;
    flex-grow: 1;
}

.avatar-text span {
    display: block;
    padding: 0 .3rem;
}

.avatar-text .last-access {
    color: var(--text-icons-col);
}